.profile-container {
    display: flex;
    min-height: 100vh;
}
  
.LeftSidebar {
    flex: 0 0 100px;
}

.profile-container .left-sidebar {
    visibility: hidden;
}
 
.Navbar {
    flex: 1;
    margin-top: 5px;
}

.profile-content {
    width: 1075px;
    height: 530px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin: 110px 30px;
}

.userprofile-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.userprofile-details {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-top: -10px;
}

.userprofile-occupation span img,
.userprofile-date svg {
    width: 17px;
    height: 18px;
    padding-right: 3px;
}

.userprofile-occupation span, 
.userprofile-location span,
.userprofile-date span {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
}

.profile-usagestats {
    width: 672px;
    height: 360px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin-right: 390px;
    margin-top: 20px;
}

.stats-title h2 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}

.profile-transaction {
    display: flex;
    flex-direction: row;
    margin-left: 380px;
    margin-top: -55px;
    gap: 10px;
}

.profile-transaction .duration,
.profile-transaction .transactionbtn {
    display: inline-flex;
    padding: 4px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #FDAC15;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
}

.usersprofile-stats {
    display: flex;
    flex-direction: row;
}

.stats-chart {
    margin: 10px 30px;
}

.stats-chart .legend,
.stats-chart .new-users,
.stats-chart .national-reach {
    visibility: hidden;
}

.userprofile-accdetails {
    width: 411px !important;
    height: 719px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    background: #FFFEFD;
    margin: -47px 40px;
}

.userprofile-accdetails .userprofile-btns {
    display: flex;
    flex-direction: row;
}

.userprofile-btns .userprofile-btn,
.userprofile-btns .useractions-btn,
.userprofile-btns .usercontact-btn {
    display: inline-flex;
    padding: 4px 10px;
    margin: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #FDAC15;
    height: 30px;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
}

.line {
    width: 348px;
    height: 0.5px;
    background: #DED9D9;
    margin-left: 15px;
}

.userprofile-btns .usercontact-btn {
    margin-right: 30px;
}

.useracc-details {
    display: flex;
    width: 348px;
    height: 307px;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.useremail,
.userprimaryno,
.usersecondaryno,
.userbal {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: -8px 15px;
}

.useremail-detail,
.userprimaryno-detail,
.usersecondaryno-detail,
.userbal-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.useremail-detail h2,
.userprimaryno-detail h2,
.usersecondaryno-detail h2,
.userbal-detail h2 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
}

.useremail-detail h3,
.userprimaryno-detail h3,
.usersecondaryno-detail h3,
.userbal-detail h3 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: -7px;
}

.useremail {
    margin-left: 25px;
}

.useremail-detail {
    margin-left: 18px;
}

.adminacc-actions {
    display: flex;
    height: 295px;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.edit-userprofile,
.suspend-userprofile,
.delete-userprofile {
    display: flex;
    width: 348px;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}

.userprofile-action h2 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
}

.profile-activities {
    width: 696px;
    height: 352px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin-top: 20px;
    margin-right: 380px;
}

.transaction-activity {
    margin-left: 10px;
}

.transaction-activity .activity {
    margin-bottom: 12px;
}
