.profile-container {
    display: flex;
    min-height: 100vh;
}
  
.LeftSidebar {
    flex: 0 0 100px;
}

.profile-container .left-sidebar {
    visibility: hidden;
}
 
.Navbar {
    flex: 1;
    margin-top: 5px;
}

.profile-content {
    width: 1075px;
    height: 530px;
    border-radius: 5px;
    border: 1px solid #DED9D9;
    margin: 110px 30px;
    box-sizing: border-box !important;
}

.userprofile-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.userprofile-details {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-top: -10px;
}

.userprofile-occupation span img,
.userprofile-date svg {
    width: 17px;
    height: 18px;
    padding-right: 3px;
}

.userprofile-occupation span, 
.userprofile-location span,
.userprofile-date span {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
}

.profile-usagestats {
    width: 672px;
    height: 360px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin-right: 390px;
    margin-top: 20px;
}

.stats-title h2 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
}

.profile-transaction {
    display: flex;
    flex-direction: row;
    margin-left: 380px;
    margin-top: -55px;
    gap: 10px;
}

.profile-transaction .duration,
.profile-transaction .transactionbtn {
    display: inline-flex;
    padding: 4px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #FDAC15;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
}

.usersprofile-stats {
    display: flex;
    flex-direction: row;
}

.stats-chart {
    margin: 10px 30px;
}

.stats-chart .legend,
.stats-chart .new-users,
.stats-chart .national-reach {
    visibility: hidden;
}

.userprofile-accdetails {
    width: 451px;
    height: 719px;
    border-radius: 5px;
    border: 1px solid #DED9D9;
    background: #FFFEFD;
    margin-left: 40px;
    box-sizing: border-box !important;
}

.profile-activities {
    width: 696px;
    height: 352px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin-top: 20px;
    margin-right: 380px;
}

.transaction-activity {
    margin-left: 10px;
}

.transaction-activity .activity {
    margin-bottom: 12px;
}
