.depositmodal-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background: #FFFEFD; 
    position: fixed;
    width: 370px;
    height: 530px;
    flex-shrink: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; 
    overflow-y: hidden;
    margin: 50px 600px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.closebtn-container {
    text-align: right;
    margin: 10px 10px 0 0;
}

.deposit .close-btn {
    margin-top: 5px;
}

.close-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    display: inline-block;
    transition: transform 300ms ease-in-out;
}

.close-btn:focus {
    outline: none;
}

.close-btn:hover {
    transform: scale(1.1); 
}

@keyframes dissolveAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.close-btn.clicked {
    animation: dissolveAnimation 300ms ease-in-out;
}


.depositmodal-header {
    text-align: center;
    margin-top: -20px;
}

.depositmodal-header h1 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 600;
}

.depositmodal-header h2 {
    display: inline-flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    margin-top: -5px;
}

.depositmodal-content {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.depositmodal-transaction {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.depositmodal-from h2,
.depositmodal-to h2,
.depositmodal-amount h2,
.transaction-id h2,
.depositmodal-time h2 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.depositmodal-from h3,
.depositmodal-from h4,
.depositmodal-to h3,
.depositmodal-to h4,
.depositmodal-amount h3,
.transaction-id h3,
.depositmodal-time h3 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: -12px;
}

.transaction-line {
    width: 0.5px;
    height: 100px;
    padding-top: 10px;
    background: #DED9D9;
}

.transaction-line1 {
    width: 310px;
    height: 1px;
    background: #FFF7E8;
    margin-top: -8px;
}

.transaction-id,
.depositmodal-time {
    margin-top: -15px;
}
