.legend {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 600;
}

.new-users {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
}

.national-reach {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
}