.haba-chart-container {
    position: fixed;
    top: 100px; 
    z-index: 1; 
    width: 100%;
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 600;
}
.new-users-title {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
}

.national-reach-title {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
}