.left-sidebar {
    width: 300px;
    height: 1024px;
    flex-shrink: 0;
    border: 1px solid #DED9D9;
    background: #FFFEFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-details {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.header-title {
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
}
  
.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-details img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: 3px solid #FDAC15;
    background-color: lightgray;
    overflow: hidden;
}

.user-detail {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.user-detail h2 {
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.user-detail h3 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
}

.user-balance {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background: #FFFEFD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}

.current-bal {
    display: flex;
    align-items: center;
    gap: 40px;
}

.current-bal h1 {
    color: var(--gray, #898989);
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
}

.user-balance img {
    width: 24px;
    height: 20px;
}

.balance {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 400;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.sidebar-menu li {
    list-style: none;
}

.sidebar-menu li a {
    text-decoration: none;
    display: flex;
    width: 210px;
    margin-left: 10px;
    align-items: center;
    border-radius: 5px;
}

.sidebar-menu li a.active {
    display: flex;
    width: 210px;
    height: 40px;
    margin-left: 10px;
    align-items: center;
    border-radius: 5px;
    color: #FDAC15;
    background-color: #FFFBF4;
}

.menu ul {
    padding: 10px;
    margin: 0;
}

ul .home {
    display: flex;
    width: 250px;
    padding: 8px;
    margin-top: 15px;
    align-items: center;
    border-radius: 5px;
}

ul .home img {
    width: 20px;
    height: 21px;
    flex-shrink: 0;
}

.image-container {
    margin-right: 10px; 
    display: inline-block;
}
  

ul .home a {
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 5px;
}

ul .analytics {
    display: flex;
    width: 250px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

ul .analytics img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

ul .analytics a {
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

ul .manage-users {
    display: flex;
    width: 250px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

ul .manage-users img {
    width: 20px;
    height: 16px;
    flex-shrink: 0;
}

ul .manage-users a {
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.settings {
    padding-top: 200px;
}

.setting {
    display: flex;
    width: 240px;
    padding: 10px;
    margin-left: 24px;
    align-items: center;
}

.setting a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.setting img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    padding-right: 8px;
}

.logout {
    display: flex;
    width: 240px;
    padding: 10px;
    margin-left: 24px;
    align-items: center;
}

.logout a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.logout img {
    vertical-align: middle;
    width: 24px;
    height: 18px;
    padding-right: 8px;
}