.manage-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.LeftSidebar {
  flex: 0 0 100px;
}

.Navbar {
  flex: 1;
  margin-top: 5px;
}

.manage-details {
  width: 980px;
  height: 520px;
  border-radius: 5px;
  border: 0.5px solid #ded9d9;
  margin-top: 130px;
  margin-left: 30px;
  padding-left: 20px;
}

.manage-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 215px;
}

.header-title h4 {
  color: var(--black, #323232);
  font-family: IBM Plex Sans;
  font-size: 22px;
  font-weight: 600;
  margin-top: -10px;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.quick-actions {
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #fdac15;
  height: 20px;
  position: relative;
}

.quick-actions h5 {
  color: #fdac15;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

.quick-actions-dropdown,
.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 165px;
  padding: 10px;
  margin-top: 5px;
  gap: 5px;
  border-radius: 5px;
  background: #fffefd;
  z-index: 1;
}

.quick-actions button,
.filter-dropdown button {
  display: flex;
  width: 148px;
  padding: 5px 0px;
  align-items: center;
  gap: 10px;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  border: none;
  background: none;
}

.quick-actions svg,
.filter-dropdown svg {
  width: 24px;
  height: 24px;
}

.quick-actions span,
.filter-dropdown span {
  color: #fdac15;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
}

.suspenduser-btn svg,
.restoreuser-btn svg {
  width: 24px;
  height: 19px;
  margin-left: 2px;
}

.quick-filter {
  display: flex;
  padding: 4px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #fdac15;
  height: 20px;
  margin-left: 20px;
  position: relative;
}

.quick-filter h6 {
  color: #fdac15;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
}

.quick-actions.open .quick-actions-dropdown,
.quick-filter.open .filter-dropdown {
  display: block;
}

.manage-numbers {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.forward-review {
  width: 12px;
  height: 20px;
}

.manage-numbers span {
  color: var(--gray, #898989);
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
}

.manage-review {
  width: 12px;
  height: 20px;
}

.users-data {
  display: flex;
  flex-direction: row;
  width: 1014px;
  gap: 40px;
}

.data-uncheck {
  display: flex;
  width: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  margin-top: 5px;
}

.checkbox-label {
  display: inline-block;
  padding-top: 18px;
  position: relative;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 3px solid #ded9d9;
  background-color: white;
  transition: border-color 0.3s;
}

.checkbox-label:checked {
  background-color: #fdac15;
}

.data-name {
  display: flex;
  width: 132px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  padding-right: 20px;
}

.data-name .header-name,
.data-number .header-number,
.data-email .header-email,
.data-bal .header-bal,
.data-status .header-status,
.data-manage .header-manage {
  color: #323232;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 600;
}

.data-name .names,
.data-number .numbers,
.data-email .emails,
.data-bal .balance,
.data-status .status {
  color: #323232;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
}

.data-number {
  display: flex;
  width: 146px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.data-email {
  display: flex;
  width: 226px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.data-bal {
  display: flex;
  width: 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.data-status {
  display: flex;
  width: 92px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.data-manage {
  display: flex;
  width: 67px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.5px;
}

.manage-activity {
  width: 600px;
  height: 342px;
  border-radius: 5px;
  border: 0.5px solid #ded9d9;
  margin: 270px -10px;
}

.manage-activity h1 {
  color: #323232;
  font-family: IBM Plex Sans;
  font-size: 22px;
  font-weight: 600;
  padding-left: 10px;
}

.activity-img {
  padding-top: 40px;
  text-align: center;
}

.activity-img img {
  width: 159px;
  height: 98px;
}

.activity-img h2 {
  color: #898989;
  font-family: IBM Plex Sans;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

.activity-desc {
  position: relative;
  text-align: center;
}

.activity-desc p {
  color: #898989;
  font-family: IBM Plex Sans;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manage-new-regusers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
