.navbar {
    display: flex;
    flex-direction: row;
    width: 100%; 
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar a {
    text-decoration: none;
}

.navbar.scrolled {
    background-color: #FFFBF4;
}

.title {
    flex-grow: 0;
}
  
.title h1 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 32px;
    font-weight: 500;
    margin-left: 315px;
    margin-top: 30px;
    top: 0;
}
  
.navbar-search {
    display: flex;
    padding-left: 10rem;
}
  
.search {
    display: flex;
    width: 260px;
    height: 22px;
    padding: 8px 32px;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid #fdac15;
    background: #fffefd;
}
  
.search img {
    width: 24px;
    height: 24px;
}
  
.search h2 {
    color: var(--gray, #898989);
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
}

.search-filter img {
    width: 54px;
    height: 56px;
    margin-top: 18px;
}

.navbar-menu {
    margin: 20px;
}

.navbar-menu .notification {
    padding-right: 5px;
}

.navbar-menu .profile {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border: 3px solid #FDAC15;
    background-color: lightgray;
    overflow: hidden;
    margin-right: 28px;
}