.right-sidebar {
    overflow-x: hidden;
}

.transactions {
    width: 360px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin: 110px 10px;
}

.transaction h1 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
}

.transaction-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
    top: 0;
    margin: 0;
    line-height: 0;
}

.transaction-status .pending-btn {
    display: flex;
    padding: 6px 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #FDAC15;
    border: none;
    color: #FFFEFD;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.transaction-status .approved-btn {
    display: flex;
    padding: 4px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #FDAC15;
    background: transparent;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.transaction-details {
    display: flex;
    width: 360px;
    height: 510px;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-top: 0.5px solid #DED9D9;
    top: 0;
    line-height: 0;
}

.transaction-detail {
    display: flex;
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FFFEFD;
}

.transaction-detail img {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    background: #FFF7E8;
}

.admin-details {
    display: flex;
    flex-direction: row;
    width: 288px;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.admin-details {
    display: flex;
    flex-direction: row;
    width: 275px;
    justify-content: space-between;
    align-items: flex-start; 
}

.admin-detail {
    display: flex;
    width: 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 2px;
}

.name {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.admin-number {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    padding-top: 12px;
}

.status-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.status-details .amount {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.status-details .time {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    padding-top: 12px;
}

.new-reg-users{
    margin-top: -20%;
}

.users-reg {
    width: 348px;
    height: 350px;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    position: relative;
    margin-left: 8px;
    padding-left: 15px;
}

.new-details {
    display: inline-flex;
    align-items: center;
    gap: 155px;
    padding-top: 10px;
}

.details-title {
    color: var(--black, #323232);
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 600;
}

.user-view{
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
}

.user-view img {
    width: 7.41px;
    height: 12px;
}

.user-reg {
    display: flex;
    width: 357px;
    height: 302px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
}

.date-reg h1 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 600;
}

.reg-details {
    display: flex;
    width: 340px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.detail-name {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.detail-email {
    color: #898989;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 600;
}

.view img {
    display: flex;
    align-items: flex-end;
    padding: 10px -10px;
}