.transactions {
    width: 400px;
    height: 595px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0.5px solid #DED9D9;
    margin: 90px 10px;
}

.transaction h1 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 600;
    padding-left: 10px;
}

.transaction-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0;
    margin: 0;
    line-height: 0;
}

.transaction-status h2 {
    display: flex;
    padding: 6px 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #FDAC15;
    color: #FFFEFD;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.transaction-status h3 {
    display: flex;
    padding: 4px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #FDAC15;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.transaction-details {
    display: flex;
    width: 400px;
    height: 506px;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-top: 0.5px solid #DED9D9;
    top: 0;
    line-height: 0;
}

.transaction-detail {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FFFEFD;
}

.transaction-detail img {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #FFF7E8;
}

.admin-details {
    display: flex;
    flex-direction: row;
    width: 288px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    top: 0;
}

.admin-detail {
    display: flex;
    flex-direction: column;
    width: 288px;
    justify-content: space-between;
    align-items: flex-start;    
}

.status-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
