.suspend-account {
    overflow: hidden;
    background: #FFFEFD;
}

.suspend-account h1 {
    color: #323232;
    font-size: 22px;
    font-family: IBM Plex Sans;
    font-weight: 600;
    text-align: center;
    margin-top: 55px;
}

.suspend-details {
    display: inline-flex;
    padding: 17px 80px;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin: 10px 300px;
    border: 0.5px solid #DED9D9;
    background: #FFFEFD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.suspend-detail {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.suspend-personal-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.personal-details h3,
.account-suspenddetails h3,
.suspend-action-details h3 {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.personal-details p,
.account-suspenddetails p {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 700;
}

.personal-details p span,
.account-suspenddetails p span {
    color: #323232;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;   
}

.suspend-actions p {
    display: flex;
    flex-direction: row;
    width: 120px;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    background: #FFFBF4;
}

.suspend-actions p span {
    font-size: 16px;
}

.suspend-actions p svg {
    padding-right: 8px;
}

.suspendaccount-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 40px;
}

.cancel-btn {
    width: 240px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FDAC15;
    background-color: transparent;
    color: #FDAC15;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}

.suspend-btn {
    width: 240px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FDAC15;
    color: #FFFEFD;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
}